.popup {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
  top: -10px;
  right: 10px;
  background: #295;
  color: #dfe;
  padding: 0.5rem 1rem;
  font-size: 11px;
  line-height: 1.2;
  border-radius: 1px;
  transition: all 0.2s ease-out;
  opacity: 0;
  z-index: 999999;
}

.show {
  animation: slide-down 0.25s ease-in-out forwards;
}

.exit {
  animation: slide-fade 0.25s ease-in-out forwards;
}

.close {
  margin-right: 1rem;
  color: #fff;
  cursor: pointer;
}

.close:hover {
  font-weight: bold;
}

@keyframes slide-down {
  from {
    top: -10px;
    opacity: 0;
  }

  to {
    top: 10px;
    opacity: 1;
  }
}

@keyframes slide-fade {
  from {
    top: 10px;
    opacity: 1;
  }

  to {
    top: 40px;
    opacity: 0;
  }
}
