# Dependencies
node_modules
dist
build

# Output
coverage
.nyc_output

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Files
*.min.js
*.min.css
*.lock
.gitignore
manifest.*.json
webpack.config.js
babel.config.js
jest.config.js
