.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  height: 20px;
  width: fit-content;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  border-radius: 2px;
  transition: all 2s ease-in-out;
  opacity: 0;
  background: #295;
  color: var(--color-text);
  z-index: 999999;
  animation: pop-in-and-out 2s ease-in-out forwards;
}

@keyframes pop-in-and-out {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
