.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  height: 20px;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  line-height: 1.2;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background: #295;
  color: #dfe;
  z-index: 999999;
  animation: pop-in-and-out 2s ease-in-out forwards;
}

@keyframes pop-in-and-out {
  0% {
    bottom: -20px;
    opacity: 0;
  }

  5% {
    bottom: 40px;
    opacity: 1;
  }

  90% {
    bottom: 40px;
    opacity: 1;
  }

  100% {
    bottom: 50px;
    opacity: 0;
  }
}
