.box {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--color-bg-primary);
    border: none;
    box-sizing: border-box;
    color: var(--color-text);
}

.box:focus {
    outline: none;
}