.table {
  display: flex;
}

.table table {
  border-collapse: collapse;
}

.table table td {
  min-width: 100px;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--color-bg-secondary);
}

.table table td:last-child {
  min-width: 200px;
}

.button {
  align-self: flex-end;
  margin-left: 1rem;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.15s ease-out;
  white-space: nowrap;
}

.button:hover {
  opacity: 0.9;
}
