.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: 0.5rem;
  height: 42px;
  border-bottom: 1px solid var(--color-bg-primary);
}

.actions ul {
  padding-left: 1.5rem;
}

.actions li {
  list-style: none;
}

.actions :global(button) {
  margin: 0.1rem 0;
}

.actions :global(button:first-child) {
  margin-left: 0;
}
