.actions {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.4rem 0;
}

.actions ul {
  padding-left: 1.5rem;
}

.actions li {
  list-style: none;
}

.actions span {
  position: relative;
  margin: 0.1rem 0.5rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  color: var(--color-primary);
}

.actions span:first-child {
  margin-left: 0;
}

.actions span:last-child {
  margin-right: 0;
}

.actions .right {
  text-align: right;
  flex-grow: 1;
}

.actions span:hover {
  text-decoration: underline;
}
