.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid var(--color-bg-secondary);
}

.header h1 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1.5rem 0 0;
  height: 44px;
  border-right: 1px solid var(--color-bg-secondary);
}

.labels {
  display: flex;
  margin: 0 1.5rem;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.box {
  display: block;
  height: 100%;
  width: 350px;
  border-right: 1px solid var(--color-bg-secondary);
}

.box:last-child {
  flex-grow: 1;
  text-align: right;
}

.theme {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}

.theme > span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: 1.5rem;
  border-left: 1px solid var(--color-bg-secondary);
  color: var(--color-text);
  cursor: pointer;
}

.theme > span::after {
  position: absolute;
  content: ' ';
  width: 1rem;
  height: 1rem;
  background-color: var(--color-bg-secondary);
  border: 3px solid var(--color-bg-secondary);
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
}

.theme > span:hover::after {
  background-color: transparent;
}

.theme.light > span::after {
  background-color: transparent;
}

.theme.light > span:hover::after {
  background-color: var(--color-bg-secondary);
}
