.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid var(--color-bg-secondary);
}

.header .h1 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1.5rem 0 0;
  height: 44px;
  border-right: 1px solid var(--color-bg-secondary);
  overflow: hidden;
}

.header .h1 h1 {
  transition: padding-top 0.3s ease-out;
}

.header .h1 h1:hover {
  padding-top: 40px;
}

.labels {
  display: flex;
  margin: 0 1.5rem;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.box {
  display: block;
  height: 100%;
  width: 350px;
  border-right: 1px solid var(--color-bg-secondary);
}

.theme {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}

.theme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-left: 1px solid var(--color-bg-secondary);
  cursor: pointer;
}
