.info {
  border: none;
  border-bottom: 1px solid var(--color-bg-secondary);
  max-width: 400px;
}

.info th,
.info td {
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}

.info th {
  text-align: right;
  color: var(--color-accent);
}

.info td {
  text-align: left;
}
