.container {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right: 0.75rem;
}

.resultCount {
  display: flex;
  align-items: center;
  opacity: 0.7;
  white-space: nowrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1rem;
}
