.container {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--color-bg-secondary);
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  height: 42px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.container.focused {
  border-color: var(--color-text);
}

.input {
  flex: 1;
  padding: 0.5rem 1rem;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--color-text);
  font-family: inherit;
  outline: none;
}

.input::placeholder {
  color: var(--color-text);
  opacity: 0.5;
}
